body {
    background-color: #09040c; /* Color de fondo general */
}
/* yo seccion */
header {
    /* background: rgba(151, 156, 196, 0.589); */
    /* background: linear-gradient(171deg, rgba(36,227,225,1) 0%, rgba(150,159,106,1) 17%, rgba(185,214,52,1) 28%); */
}
.yo{
    background: rgb(108,145,215);
    background: linear-gradient(180deg, rgba(108,145,215,1) 15%, rgba(230,230,230,1) 100%, rgba(52,120,214,1) 100%);
}
/* yo seccion */
.img-fluid {
    transition: transform 0.3s ease-in-out;
}
.img-fluid:hover {
    transform: scale(1.1);
}

 .navbar-nav .nav-link {
    transition: transform 0.3s ease-in-out;
    color: rgb(143, 197, 185);
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1);
    color: #ffcc00; /* Cambia  color */
 
} 

/* Estilo para el enlace activo */
.navbar-nav .nav-link.active {
    color: #ffcc00; /* Color para la sección activa */
    text-decoration: underline; /* Aplica subrayado a la sección activa */
    text-decoration-color: #ffcc00  ;
}
/* sobre mi seccion */
.sobremi{
    background: rgb(108,215,205);
    background: linear-gradient(180deg, rgb(219, 236, 235) 0%, rgba(230,230,230,1) 100%, rgba(247,249,251,1) 100%);
}






/* proyectos seccion */
@keyframes zoom {
    0% {
        transform: scale(1); /* Tamaño original */
    }
    50% {
        transform: scale(0.95); /* Tamaño reducido más suave */
    }
    100% {
        transform: scale(1); /* Tamaño original nuevamente */
    }
}

.zoom {
    animation: zoom 1.5s ease-in-out infinite; /* Aumenta la duración para suavizar la animación */

}
/* imagen */ 

.text-container {
    display: flex; /* Configura el contenedor en una fila */
    align-items: center; /* Centra verticalmente la imagen y el texto */
    justify-content: space-between; /* Distribuye el espacio entre el texto y la imagen */
    padding: 20px; /* Añade espacio alrededor del contenedor */
}

.text-content {
    max-width: 60%; /* Limita el ancho del texto para que la imagen tenga espacio */
}

.profile-image {
    width: 40%; /* Ancho de la imagen */
    height: 40%; /* Altura de la imagen */
    border-radius: 100%; /* Hace la imagen circular */
} 
/* animacion letrero */
.animacion {
    font-size: 2em; /* Tamaño de la fuente */
    color: #3498db; /* Color del texto */
    text-align: left; /* Centra el texto */
    white-space: nowrap; /* Evita que el texto se envuelva */
}

.cursor {
    display: inline-block; /* Hace que el cursor sea un bloque en línea */
    width: 2px; /* Ancho del cursor */
    background-color: #45d319; /* Color del cursor */
    animation: blink 0.75s step-end infinite; /* Efecto de parpadeo */
    margin-left: 6%; /* Espacio entre el texto y el cursor */
}

@keyframes blink {
    50% {
        opacity: 0; /* Oculta el cursor a la mitad */
    }
}


